snippet test Generate a test case
	func TestPadBytes(t *testing.T) {
		testCases := []struct {
			name     string
		}{
			{
				name:     "With 8 byte",
			},
		}

		for _, tc := range testCases {
			t.Run(tc.name, func(t *testing.T) {
				assert.DeepEqual(t, utils.PadBytes(tc.input), tc.expected)
			})
		}
	}

